<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Makers BnB</h1>
        <h2>Login</h2>
        <!-- We check to see if there are any errors from a previous submission -->
        {% if errors %}
        <!-- If so, we show them. -->
        <p class="t-errors">
        Login invalid - {{errors}}
        </p>
        {% endif %}
        <form method="POST">
            <label>Username</label><br><input required type="text" name="user"><br>
            <br>
            <label>Password</label><br><input required type="text" name="pass"><br>
            <br>
            <label>Email</label><br><input required type="text" name="email"><br>
            <br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>