<!DOCTYPE html>
<html>
    <head>
        <title>{{ property.name }}</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Book this Place</h1>
        <div><a href="/places">Book a Place</a> | <a href="/places/new">List a Place</a></div>
        <br>
        <h2>{{ property.name }}</h2>
        <p>{{ property.description }}</p>
        <p>£{{ property.price }} per day</p>
        <br>
        <form method="POST" action="/bookings">
            <label>Book from: </label><input type="date" name="start_date" value="{{ property.aval_start }}" min="{{ property.aval_start }}" max="{{ property.aval_end }}" required>
            <label>to: </label><input type="date" name="end_date" value="{{ property.aval_end }}" min="{{ property.aval_start }}" max="{{ property.aval_end }}" required>
            <br>
            <br>
            <input type="submit" value="Make Booking">
            <input type="hidden" name="property_id" value="{{property.id}}">
            <input type="hidden" name="owner_id" value="{{property.user_id}}">
        </form>
        <br>
        <br>
        <h4><a href="/places">Return to list of places</a></h4>
    </body>
</html>