<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Property Listings</h1>
    
    <div>
        <h2>Property 1</h2>
        <a href="/places/individual_property/1">Chestnut Eco Lodge</a>
        <p>House with garden</p>
        <p>Price: £101/night</p>
        <p>Owner: 1</p>
        <p>Booked status: False</p>
    </div>

    <div>
        <h2>Property 2</h2>
        <a href="/places/individual_property/2">The Hazel Hide</a>
        <p>Luxury Eco A-Frame Cabin</p>
        <p>Price: 240/night</p>
        <p>Owner: 3</p>
        <p>Booked status: False</p>
    </div>

    <div>
        <h2>Property 3</h2>
        <a href="/places/individual_property/3">Entire Contemporary Barn</a>
        <p>Barn in Essex</p>
        <p>Price: £550/night</p>
        <p>Owner: 5</p>
        <p>Booked status: False</p>
    </div>


    <div>
        <h2>Property 4</h2>
        <a href="/places/individual_property/4">Coloc All Included Febvotte-Marate</a>
        <p>Room in Tours</p>
        <p>Price: £463/night</p>
        <p>Owner: 1</p>
        <p>Booked status: False</p>
    </div>


    <div>
        <h2>Property 5</h2>
        <a href="/places/individual_property/5">2RJ2- Hyper center</a>
        <p>Entire rental unit in Tours</p>
        <p>Price: £472/night</p>
        <p>Owner: 4</p>
        <p>Booked status: True</p>
    </div>



</head>

</html> 